
.about{
    margin: 50px;
    text-align: center;
    place-items:center;
    display: flex;
    flex-direction: column;
    gap:25px;
    margin-bottom: 300px;
}

.about h1,h2,h3,h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.about h1{
    font-family:  monospace
}