@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(styles/darkMode.css);


@font-face {
  font-family: 'Silkscreen'; 
  src: url('../public/fonts/slkscr.ttf')  format('truetype');
}

@font-face {
  font-family: '712Serif'; 
  src: url('../public/fonts/712_serif.ttf')  format('truetype');
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Silkscreen', '712Serif', monospace;  
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;

}


button{
  padding: 3px 5px;
  margin: 2px; 
  /*box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);*/
}

button:hover{
  transform: translate(2px,2px);
}

.cozyButton{
  position: relative;
  appearance: auto;
  cursor: pointer;
  text-align: left;

}


.pixelButton{
  background-image: url('/public/images/button_middle.png');
  background-size: contain;
  image-rendering: pixelated;
  margin: 0px 10px;
  place-self:flex-start;
  cursor: pointer;

  padding: 5px; 
}

.pixelButton::before{
  content: ' ';
  width: 10px;
  height:100%;
  position: absolute;
  transform: translate(-100%, 0px);
  background-image: url('/public/images/button_start.png');
  background-size:contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position-x:right;
  margin: -5px; 

}


.pixelButton::after{
  content: ' ';
  width: 10px;
  height:100%;
  position: absolute;
  transform: translate(100%, 0px);
  background-image: url('/public/images/button_end.png');
  background-size:contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position-x:left;
  top:0;
  right:0
}
.pixelButton:hover, .pixelButton.pressed {
  background-image: url('/public/images/buttonPressed_middle.png');
}
.pixelButton:hover::before, .pixelButton.pressed::before {
  background-image: url('/public/images/buttonPressed_start.png');
}
.pixelButton:hover::after, .pixelButton.pressed::after {
  background-image: url('/public/images/buttonPressed_end.png');
}
.pixelButton:hover *, .pixelButton.pressed *{
  transform: translate(0px,10px);
}

.pixelButton img{
  height: 50px;
  width: 50px;
  scale: 60%;
  translate: -10px -5px;
  margin: -5px; 
}
.pixelButton:has(img){
  width: 30px;
}
.pixelButton div{
  translate: -5px -5px;
}
.cozyButton:hover .tooltip{
  visibility:visible;
}
.cozyButton .tooltip{
  visibility: hidden;
  background-color: aqua;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  font-size: 90%;
}
.cozyButton .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

img{
  image-rendering: pixelated;
  max-width: none;
}

.bubble{
  background-color: white;
  border: none;
  outline:none;
  padding: 2px 5px;
}
.bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

@media (max-width: 640px) {

  .pixelButton img{
    height: 35px;
    width: 35px;
    translate:-8px -2px;
  }
  .pixelButton:has(img){
    width: 20px;
  }
  .pixelButton:has(img){
    background-size: cover;
  }

}




h1{
  font-size: 100px;
  font-weight: bolder;
}
h2{
  font-size:60px;
  font-weight:normal;
}
h3{
  font-size: 30px;
  font-weight: lighter;

}

canvas{
  background-color: lightgray;
}

.optionSelector{
  display: flex;
  position: relative;
  min-width: 120px;
  text-align: center;
  place-content:center;
}
.optionSelector button{
  border: 0;
  padding: 5px;
  border-radius: 5px;
}
.optionSelector button:hover{
  transform: scale(120%);
  z-index: 2;
}
.optionSelector :first-child{
  left: 0;
  position: absolute;
}

.optionSelector :last-child{
  right: 0;
  position: absolute;
}
.options{
  display: flex;
  gap:20px;
  flex-direction: column;
}

/*
 w-full h-full max-h-screen flex  relative overflow-hidden lg:overflow-auto
 `w-full max-h-screen md:static lg:overflow-hidden flex flex-col `
*/
.houseViewer{
  width:100%;
  height: 100%;
  display: flex;
  position: relative;
}
.houseViewer.small{
  flex-direction: column;
}
.houseInfo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.small .houseInfo{
  position: absolute;
  bottom: 0px;
  height: auto;
  
}
.small  .hideOnSmall{
  display: none;
}
.small img{
  width: 30px;
  height: 30px;
}